name: Build Extension Distributable

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'
      - '[0-9]+.[0-9]+.[0-9]+rc[0-9]+'
    branches:
      - master
      - ci

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js LTS
      uses: actions/setup-node@v3
      with:
        node-version: lts/*
        cache: npm
    - run: npm ci
    - run: npm run build
    - name: Archive production artifacts
      uses: actions/upload-artifact@v4
      with:
        name: bundle-and-metadata
        path: |
            dist/index.js
            mrextmeta.toml
        if-no-files-found: error
    - name: Release
      uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: |
          dist/index.js
          mrextmeta.toml
